<div class="container">
    <div class="p-4">
        <h3 class="pb-2">
            Customer journey mapping
        </h3>
        <p>A <b>customer journey map</b> is a simple concept: a diagram that illustrates the steps your customer(s) go through
            in engaging with your company (Progress) and its products and services. The more touchpoints you have, the more
            complicated this map becomes. A more general customer journey map will include first touch with a company (Progress)
            (perhaps with banner/advertising or on the website), buying the product/service, using it, renewing it, and then
            finishing the journey by dropping, replacing, or choosing a competitor (re-starting the journey with another
            company):
        </p>
        <div>
            <img src="./app/resources/images/Customer_journey_mapping.png" alt="Customer journey map">
        </div>
        <p>
            The journey may often be non-linear: some steps may be skipped or rushed, others may be prolonged in time depending on the
            customer. And here nicely comes to play the graph theory as it allows us to depict (and consume) hundreds and
            thousands of different journey paths/maps not limiting us to one or two general journey paths/maps (which tend
            to gloss over many critical details)</p>
    </div>
    <div class="p-4">
        <h3 class="pb-2">
            Persona
        </h3>
        <p>A target persona is a semi-fictional identity of the ideal prospect and customer of a company. He’s the customer
            you have in mind when you design your products, create your messaging and focus your overall efforts to appeal
            to. A good target persona goes beyond pure demographic or behavioral description of the prospects and customers
            and includes needs, pain points and different motivators.
        </p>
        <p>The point of the target persona is to narrow the focus of a business because you cannot sell to everybody. But in
            reality customers can be classified in far more meaningful personas. And it’s the marketer’s job to decide which
            ones are most valuable and the company should focus on. Using the graph theory allows us to depict (and consume)
            hundreds and thousands of different personas with their unique specifics not limiting us to one or two profiles
            (which tend to gloss over many critical details).
        </p>
        <p>With this being said we don’t mean to retire the current approaches of E2E journey mapping and Target persona creation
            – they are critical when designing the overall customer experience, the messaging and overall communication;
            for all our inbound marketing efforts. But when we come down to converting each individual lead the specific
            details are the key drivers.
        </p>
    </div>
    <div class="p-4">
        <h3 class="pb-2">
            Graph theory
        </h3>
        <p><b>A graph</b> is a mathematical structure used to model pairwise relations between objects. It is a collection of <b>vertices</b> (points)
            that are connected by <b>edges</b>(lines). Some graphs can be directed, which means the lines have an arrow and
            only go in one direction. Some graphs can have no edges at all, in others the edges could overlap, and there
            can be many edges coming out of the same vertex.
        </p>
        <p><b>Graph theory</b> is the study of graphs and their properties. It was first invented by the Swiss mathematician
            Leonard Eurel. It is one of the most exciting and visual areas of mathematics, and has countless important applications.
        </p>
        <img src="./app/resources/images/Graph-theory.png" alt="Graph theory">
        <p>We can sketch the layout of simple graphs using points and lines. The position of points and the length of the lines
            are irrelevant – we only care about how they are connected to each other. The lines can even cross each other,
            and don’t have to be straight.
        </p>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; Copyright Progress Software Corporation 2017</p>
        </div>
    </footer>
</div>