<div class="container-fluid">
    <div class="row search">
        <div class="col-md-6">
            <div class="inner-addon right-addon">
                <i class="fa fa-search"></i>
                <b-form-input
                    v-model="searchValue"
                    @keyup.enter="search(searchValue)"
                    :disabled="!!customer"
                    placeholder="Customer email...">
                </b-form-input>
            </div>
        </div>
        <div class="col-md-6">
            <b-button v-if="!customer" @click="search(searchValue)">
                Search
            </b-button>
            <b-button v-else @click="clearSearch">
                Clear
            </b-button>
        </div>
    </div>

    <div class="row search-error">
        <div v-show="!customer && errorSearch" class="col-md-12">
            <span class="badge badge-pill badge-warning">Customer with email {{searchValue}} not found</span>
        </div>
    </div>

    <div class="suggestions row">
        <div v-show="suggestions.length" class="col-sm-auto title">
            <h6 >Similar customers:</h6>
        </div>
        <div class="col-sm-auto link" v-for="suggestion in suggestions">
            <b-button @click="search(suggestion.email)" size="sm">
                {{suggestion.firstName}} {{suggestion.lastName}} ({{suggestion.email}})
            </b-button>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="graph col-sm-12" ref="graph"></div>
    </div>
</div>
