#app .navbar {
    background-color: #4fc08d !important;
}

.nav-item .nav-link.active {
    border-bottom: 3px solid #563D7C;
}

.container-fluid {
    padding-top: 25px;
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* search  */
.row.search, .row.search-error {
    padding-left: 25px;
}

.row.search-error {
    padding-top: 10px;
    min-height: 34px;
}

/* similar customers  */
.row.suggestions {
    padding-left: 45px;
    min-height: 30px;
}

.suggestions .title {
    margin-top: 5px;
    margin-right: 20px;
}

.suggestions .link {
    margin-right: 10px;
}

/* graph */
.graph {
    width: 100%;
    height: 600px;
    overflow: visible;
    margin: 0 auto;
}
