html, body, #app, .container-fluid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#app .navbar {
    background-color: #4fc08d !important;
}

.nav-item .nav-link.active {
    border-bottom: 3px solid #563D7C;
}

.container-fluid {
    padding-top: 25px;
    height: calc(100% - 59px);
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* search  */
.row.search, .row.search-error {
    padding-left: 25px;
}

.row.search-error {
    padding-top: 10px;
    min-height: 34px;
}

/* similar customers  */
.row.suggestions {
    padding-left: 45px;
    min-height: 30px;
}

.suggestions .title {
    margin-top: 5px;
    margin-right: 20px;
}

.suggestions .link {
    margin-right: 10px;
}

/* graph */
.toolbar-container {
    position: absolute;
    z-index: 9999;
    right: 25px;
}

.toolbar i {
    padding-right: 15px;
    color: gray;
    user-select: none;
}

.toolbar i:hover {
    cursor: pointer;
    color: black;
}

.graph-container {
    width: 100%;
    height: calc(100% - 103px);
}

.graph {
    width: 100%;
    height: 100%;
    overflow: visible;
    margin: 0 auto;
}

.qtip {
    max-width: 300px;
    min-width:250px;
}

.qtip, .qtip-bootstrap .qtip-titlebar {
    font-size: 12px;
}
